$system-primary-color: #7b61ff;
$system-primary2-color: #917cff;
$system-secondary-color: #80858b;

$background-black-color: #000000;
$background-dark-color: #242426;
$background-graphite-color: #323537;

$context-error-color: #ff5154;
$context-light-color: #afb2b6;
$context-white-color: #fff;

$tertiary-green-color: #00a340;
$tertiary-yellow-color: #f3a608;
$tertiary-orange-color: #f45d2d;
