@import './colors.scss';

.logo {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 20px;
}

.moviesStart {
  color: $system-primary-color;
}

.moviesEnd {
  color: $background-dark-color;
}
