@import './colors.scss';

.link {
  color: $background-dark-color;
  text-decoration: none;
  padding: 5px;
  box-shadow: 0px 0px 6px 4px rgba(212, 197, 197, 1);
  -webkit-box-shadow: 0px 0px 6px 4px rgba(212, 197, 197, 1);
  -moz-box-shadow: 0px 0px 6px 4px rgba(212, 197, 197, 1);
  border-radius: 20px 20px 10px 10px;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
}

.image {
  display: block;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 266px;
  height: 357px;
  object-fit: fill;
}
